<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leozz.dao.UserCouponRecordMapper" >
  <resultMap id="BaseResultMap" type="com.leozz.entity.UserCouponRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="is_used" property="isUsed" jdbcType="BIT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="usage_date" property="usageDate" jdbcType="TIMESTAMP" />
    <result column="pick_date" property="pickDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, coupon_id, user_id, is_used, order_id, usage_date, pick_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_coupon_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_coupon_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leozz.entity.UserCouponRecord" >
    insert into user_coupon_record (id, coupon_id, user_id, 
      is_used, order_id, usage_date, 
      pick_date)
    values (#{id,jdbcType=BIGINT}, #{couponId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{isUsed,jdbcType=BIT}, #{orderId,jdbcType=BIGINT}, #{usageDate,jdbcType=TIMESTAMP}, 
      #{pickDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.leozz.entity.UserCouponRecord" >
    insert into user_coupon_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="usageDate != null" >
        usage_date,
      </if>
      <if test="pickDate != null" >
        pick_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=BIT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="usageDate != null" >
        #{usageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pickDate != null" >
        #{pickDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leozz.entity.UserCouponRecord" >
    update user_coupon_record
    <set >
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=BIT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="usageDate != null" >
        usage_date = #{usageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pickDate != null" >
        pick_date = #{pickDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leozz.entity.UserCouponRecord" >
    update user_coupon_record
    set coupon_id = #{couponId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      is_used = #{isUsed,jdbcType=BIT},
      order_id = #{orderId,jdbcType=BIGINT},
      usage_date = #{usageDate,jdbcType=TIMESTAMP},
      pick_date = #{pickDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>