<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leozz.dao.DeliveryAddrMapper" >
  <resultMap id="BaseResultMap" type="com.leozz.entity.DeliveryAddr" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_defualt" property="isDefualt" jdbcType="BIT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="recipient_name" property="recipientName" jdbcType="VARCHAR" />
    <result column="recipient_tel" property="recipientTel" jdbcType="VARCHAR" />
    <result column="recipient_addr" property="recipientAddr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,is_defualt , user_id, recipient_name, recipient_tel, recipient_addr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from delivery_addr
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectDefaultByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from delivery_addr
    where id = #{id,jdbcType=BIGINT} and is_defualt = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from delivery_addr
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leozz.entity.DeliveryAddr" >
    insert into delivery_addr (id, user_id, recipient_name, 
      recipient_tel, recipient_addr)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{recipientName,jdbcType=VARCHAR}, 
      #{recipientTel,jdbcType=VARCHAR}, #{recipientAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.leozz.entity.DeliveryAddr" >
    insert into delivery_addr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="recipientName != null" >
        recipient_name,
      </if>
      <if test="recipientTel != null" >
        recipient_tel,
      </if>
      <if test="recipientAddr != null" >
        recipient_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="recipientName != null" >
        #{recipientName,jdbcType=VARCHAR},
      </if>
      <if test="recipientTel != null" >
        #{recipientTel,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddr != null" >
        #{recipientAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leozz.entity.DeliveryAddr" >
    update delivery_addr
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="recipientName != null" >
        recipient_name = #{recipientName,jdbcType=VARCHAR},
      </if>
      <if test="recipientTel != null" >
        recipient_tel = #{recipientTel,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddr != null" >
        recipient_addr = #{recipientAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leozz.entity.DeliveryAddr" >
    update delivery_addr
    set user_id = #{userId,jdbcType=BIGINT},
      recipient_name = #{recipientName,jdbcType=VARCHAR},
      recipient_tel = #{recipientTel,jdbcType=VARCHAR},
      recipient_addr = #{recipientAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>