<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leozz.dao.SecActivityMapper" >
  <resultMap id="BaseResultMap" type="com.leozz.entity.SecActivity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="seckill_price" property="seckillPrice" jdbcType="DECIMAL" />
    <result column="stock_percent" property="stockPercent" jdbcType="INTEGER" />
    <result column="seckill_count" property="seckillCount" jdbcType="INTEGER" />
    <result column="seckill_stock" property="seckillStock" jdbcType="INTEGER" />
    <result column="seckill_blocked_stock" property="seckillBlockedStock" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, seckill_price, stock_percent, seckill_count, seckill_stock, seckill_blocked_stock, 
    start_date, end_date, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from seckill_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectRecentActivityList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from seckill_activity sa
    where <![CDATA[ now()< sa.end_date ]]>
    and <![CDATA[ TimeStampDiff(MINUTE,now(),sa.start_date)< 30 ]]>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from seckill_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leozz.entity.SecActivity" >
    insert into seckill_activity (id, goods_id, seckill_price, 
      stock_percent, seckill_count, seckill_stock, 
      seckill_blocked_stock, start_date, end_date, 
      status)
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{seckillPrice,jdbcType=DECIMAL}, 
      #{stockPercent,jdbcType=INTEGER}, #{seckillCount,jdbcType=INTEGER}, #{seckillStock,jdbcType=INTEGER}, 
      #{seckillBlockedStock,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.leozz.entity.SecActivity" >
    insert into seckill_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="seckillPrice != null" >
        seckill_price,
      </if>
      <if test="stockPercent != null" >
        stock_percent,
      </if>
      <if test="seckillCount != null" >
        seckill_count,
      </if>
      <if test="seckillStock != null" >
        seckill_stock,
      </if>
      <if test="seckillBlockedStock != null" >
        seckill_blocked_stock,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="seckillPrice != null" >
        #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockPercent != null" >
        #{stockPercent,jdbcType=INTEGER},
      </if>
      <if test="seckillCount != null" >
        #{seckillCount,jdbcType=INTEGER},
      </if>
      <if test="seckillStock != null" >
        #{seckillStock,jdbcType=INTEGER},
      </if>
      <if test="seckillBlockedStock != null" >
        #{seckillBlockedStock,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leozz.entity.SecActivity" >
    update seckill_activity
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="seckillPrice != null" >
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockPercent != null" >
        stock_percent = #{stockPercent,jdbcType=INTEGER},
      </if>
      <if test="seckillCount != null" >
        seckill_count = #{seckillCount,jdbcType=INTEGER},
      </if>
      <if test="seckillStock != null" >
        seckill_stock = #{seckillStock,jdbcType=INTEGER},
      </if>
      <if test="seckillBlockedStock != null" >
        seckill_blocked_stock = #{seckillBlockedStock,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leozz.entity.SecActivity" >
    update seckill_activity
    set goods_id = #{goodsId,jdbcType=BIGINT},
      seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      stock_percent = #{stockPercent,jdbcType=INTEGER},
      seckill_count = #{seckillCount,jdbcType=INTEGER},
      seckill_stock = #{seckillStock,jdbcType=INTEGER},
      seckill_blocked_stock = #{seckillBlockedStock,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBlockedStockByPrimaryKey" parameterType="com.leozz.entity.SecActivity" >
    update seckill_activity
    set seckill_blocked_stock = #{seckillBlockedStock,jdbcType=INTEGER},
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>