<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leozz.dao.SecOrderMapper">
    <resultMap id="BaseResultMap" type="com.leozz.entity.SecOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="activity_id" property="activityId" jdbcType="BIGINT"/>
        <result column="delivery_addr_id" property="deliveryAddrId" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="order_channel" property="orderChannel" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="pay_date" property="payDate" jdbcType="TIMESTAMP"/>
        <result column="coupon_usage" property="couponUsage" jdbcType="BIT"/>
        <result column="point_usage" property="pointUsage" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, activity_id, delivery_addr_id, amount, order_channel, status, create_date, 
    pay_date, coupon_usage, point_usage
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from seckill_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 返回类型一定要有-->
    <select id="selectOrderCountByUserAndActivity" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    count(id)
    from seckill_order
    where user_id =#{userId} and activity_id = #{secActivityId,jdbcType=BIGINT}
  </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from seckill_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.leozz.entity.SecOrder">
    insert into seckill_order (id, user_id, activity_id, 
      delivery_addr_id, amount, order_channel, 
      status, create_date, pay_date, 
      coupon_usage, point_usage)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, 
      #{deliveryAddrId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, #{orderChannel,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, #{payDate,jdbcType=TIMESTAMP}, 
      #{couponUsage,jdbcType=BIT}, #{pointUsage,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.leozz.entity.SecOrder">
        insert into seckill_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="deliveryAddrId != null">
                delivery_addr_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="orderChannel != null">
                order_channel,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="payDate != null">
                pay_date,
            </if>
            <if test="couponUsage != null">
                coupon_usage,
            </if>
            <if test="pointUsage != null">
                point_usage,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=BIGINT},
            </if>
            <if test="deliveryAddrId != null">
                #{deliveryAddrId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="orderChannel != null">
                #{orderChannel,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="payDate != null">
                #{payDate,jdbcType=TIMESTAMP},
            </if>
            <if test="couponUsage != null">
                #{couponUsage,jdbcType=BIT},
            </if>
            <if test="pointUsage != null">
                #{pointUsage,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.leozz.entity.SecOrder">
        update seckill_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=BIGINT},
            </if>
            <if test="deliveryAddrId != null">
                delivery_addr_id = #{deliveryAddrId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="orderChannel != null">
                order_channel = #{orderChannel,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="payDate != null">
                pay_date = #{payDate,jdbcType=TIMESTAMP},
            </if>
            <if test="couponUsage != null">
                coupon_usage = #{couponUsage,jdbcType=BIT},
            </if>
            <if test="pointUsage != null">
                point_usage = #{pointUsage,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.leozz.entity.SecOrder">
    update seckill_order
    set user_id = #{userId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      delivery_addr_id = #{deliveryAddrId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      order_channel = #{orderChannel,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      coupon_usage = #{couponUsage,jdbcType=BIT},
      point_usage = #{pointUsage,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>