<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leozz.dao.UserCouponRecordMapper">
    <resultMap id="BaseResultMap" type="com.leozz.entity.UserCouponRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="coupon_type_id" property="couponTypeId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="activity_id" property="activityId" jdbcType="BIGINT"/>
        <result column="usage_date" property="usageDate" jdbcType="TIMESTAMP"/>
        <result column="pick_date" property="pickDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, coupon_type_id, user_id, status, activity_id, usage_date, pick_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user_coupon_record
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="checkCouponIsUsableAndReturnCouponTypeId" parameterType="java.util.Map" resultType="java.lang.Long">
    select coupon_type_id
    from user_coupon_record
    where id = #{recordId,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
    and status = 0
  </select>
    <select id="selectRecordsByActivityId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from user_coupon_record
        where activity_id = #{activityId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_coupon_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.leozz.entity.UserCouponRecord">
    insert into user_coupon_record (id, coupon_type_id, user_id, 
      status, activity_id, usage_date, 
      pick_date)
    values (#{id,jdbcType=BIGINT}, #{couponTypeId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{status,jdbcType=TINYINT}, #{activityId,jdbcType=BIGINT}, #{usageDate,jdbcType=TIMESTAMP}, 
      #{pickDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.leozz.entity.UserCouponRecord">
        insert into user_coupon_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="couponTypeId != null">
                coupon_type_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="usageDate != null">
                usage_date,
            </if>
            <if test="pickDate != null">
                pick_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="couponTypeId != null">
                #{couponTypeId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=BIGINT},
            </if>
            <if test="usageDate != null">
                #{usageDate,jdbcType=TIMESTAMP},
            </if>
            <if test="pickDate != null">
                #{pickDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.leozz.entity.UserCouponRecord">
        update user_coupon_record
        <set>
            <if test="couponTypeId != null">
                coupon_type_id = #{couponTypeId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=BIGINT},
            </if>
            <if test="usageDate != null">
                usage_date = #{usageDate,jdbcType=TIMESTAMP},
            </if>
            <if test="pickDate != null">
                pick_date = #{pickDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.leozz.entity.UserCouponRecord">
    update user_coupon_record
    set coupon_type_id = #{couponTypeId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      usage_date = #{usageDate,jdbcType=TIMESTAMP},
      pick_date = #{pickDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateStatusById" parameterType="java.util.Map">
        update user_coupon_record
        set status = #{status}
        <if test="activityId != null and activityId !=''">
            ,activity_id = #{activityId,jdbcType=BIGINT}
        </if>
        where id = #{recordId,jdbcType=BIGINT}
    </update>

</mapper>